.button {
  border: none;
  background-color: blue;
  color: white;
  font-size: 1rem;
  font-weight: 600;

  &.primary {
    background-color: green;
  }

  &.secondary {
    background-color: purple;
  }

}
