.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  padding: 5px;
  background-color: blue;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  &.primary {
    background-color: green;

    &:hover {
      background-color: darken(green, 5%);
    }
  }

  &.secondary {
    background-color: purple;
    &:hover {
      background-color: darken(purple, 5%);
    }
  }


}
